/* -------------------- Subrat did this file ---------------------  */

.navbar {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 7em;
  background-color: aqua;
  color: tomato;
  font-size: large;
  font-weight: bold;
}
